<!DOCTYPE html>
<html>
<head>
  <title>Objectives</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
    <%= current_user.username %>
    <br>
    <%= button_to "Sign out", session_url, method: :delete %>
  <% else %>
     <a href="<%= new_session_url %>">Log in</a>
  <% end %>

<%= yield %>

</body>
</html>
